In [1]:
import os
import numpy as np
import pandas as pd
from pandas import read_excel

In [2]:
# os.chdir(".")
path = "files/"
print(path)

files/

In [3]:
daysDf = read_excel(path + "day.xls", sheet_name='pavlovo', header=1, dtype={'03': np.float64, 'PM10': np.float64})
daysDf

         Date         O3        PM10
0  01.01.2012  44.794662   34.649986
1  02.01.2012  13.098713  144.050705
2  03.01.2012   9.629462  290.839111

In [4]:
hoursDf = read_excel(path + "hour.xls", sheet_name='pavlovo', header=1, usecols=['Date', 'NO', 'NO2', 'AirTemp', 'Press', 'UMR', 'WD', 'WS'])
hoursDf

          Date      NO     NO2  AirTemp  Press   UMR      WD    WS
0   01.01.2012   -1.39   13.92     -1.4  941.1  73.7  281.29  2.00
1   01.01.2012   -1.35   11.51     -1.4  941.4  72.9  282.62  1.69
2   01.01.2012   -1.24   11.46     -1.5  942.0  72.3  275.63  1.86
3   01.01.2012   -0.96    9.69     -1.6  942.5  73.0  278.97  2.08
4   01.01.2012   -0.77   10.80     -1.6  942.6  72.1  274.92  1.87
..         ...     ...     ...      ...    ...   ...     ...   ...
67  03.01.2012  655.61  233.33      0.1  949.2  80.0  206.05  0.52
68  03.01.2012  553.24  183.67     -0.8  949.5  84.4  240.89  0.72
69  03.01.2012  354.38  150.86     -0.9  949.4  85.6  214.22  1.15
70  03.01.2012  297.02  136.31     -1.1  949.5  84.2  188.69  0.68
71  03.01.2012  277.17  110.27     -1.9  949.4  86.8  225.86  0.78

[72 rows x 8 columns]

In [6]:
data_df = pd.DataFrame()

for i in range(daysDf.index.size):
   hour_data = hoursDf[hoursDf['Date'].str.contains(daysDf['Date'][i])]
   hour_data.insert(6, 'O3', daysDf['O3'][i])
   hour_data.insert(7, 'PM10', daysDf['PM10'][i])
   data_df = data_df._append(hour_data)

data_df

,Date,NO,NO2,AirTemp,Press,UMR,O3,PM10,WD,WS
0,01.01.2012,-1.39,13.92,-1.4,941.1,73.7,44.794662,34.649986,281.29,2.00
1,01.01.2012,-1.35,11.51,-1.4,941.4,72.9,44.794662,34.649986,282.62,1.69
2,01.01.2012,-1.24,11.46,-1.5,942.0,72.3,44.794662,34.649986,275.63,1.86
3,01.01.2012,-0.96,9.69,-1.6,942.5,73.0,44.794662,34.649986,278.97,2.08
4,01.01.2012,-0.77,10.80,-1.6,942.6,72.1,44.794662,34.649986,274.92,1.87
...,...,...,...,...,...,...,...,...,...,...
67,03.01.2012,655.61,233.33,0.1,949.2,80.0,9.629462,290.839111,206.05,0.52
68,03.01.2012,553.24,183.67,-0.8,949.5,84.4,9.629462,290.839111,240.89,0.72
69,03.01.2012,354.38,150.86,-0.9,949.4,85.6,9.629462,290.839111,214.22,1.15
70,03.01.2012,297.02,136.31,-1.1,949.5,84.2,9.629462,290.839111,188.69,0.68
71,03.01.2012,277.17,110.27,-1.9,949.4,86.8,9.629462,290.839111,225.86,0.78

In [7]:
data_df = pd.merge(hoursDf, daysDf, on='Date')
data_df

,Date,NO,NO2,AirTemp,Press,UMR,WD,WS,O3,PM10
0,01.01.2012,-1.39,13.92,-1.4,941.1,73.7,281.29,2.00,44.794662,34.649986
1,01.01.2012,-1.35,11.51,-1.4,941.4,72.9,282.62,1.69,44.794662,34.649986
2,01.01.2012,-1.24,11.46,-1.5,942.0,72.3,275.63,1.86,44.794662,34.649986
3,01.01.2012,-0.96,9.69,-1.6,942.5,73.0,278.97,2.08,44.794662,34.649986
4,01.01.2012,-0.77,10.80,-1.6,942.6,72.1,274.92,1.87,44.794662,34.649986
...,...,...,...,...,...,...,...,...,...,...
67,03.01.2012,655.61,233.33,0.1,949.2,80.0,206.05,0.52,9.629462,290.839111
68,03.01.2012,553.24,183.67,-0.8,949.5,84.4,240.89,0.72,9.629462,290.839111
69,03.01.2012,354.38,150.86,-0.9,949.4,85.6,214.22,1.15,9.629462,290.839111
70,03.01.2012,297.02,136.31,-1.1,949.5,84.2,188.69,0.68,9.629462,290.839111
71,03.01.2012,277.17,110.27,-1.9,949.4,86.8,225.86,0.78,9.629462,290.839111

In [8]:
data_df = data_df.dropna()
data_df

,Date,NO,NO2,AirTemp,Press,UMR,WD,WS,O3,PM10
0,01.01.2012,-1.39,13.92,-1.4,941.1,73.7,281.29,2.00,44.794662,34.649986
1,01.01.2012,-1.35,11.51,-1.4,941.4,72.9,282.62,1.69,44.794662,34.649986
2,01.01.2012,-1.24,11.46,-1.5,942.0,72.3,275.63,1.86,44.794662,34.649986
3,01.01.2012,-0.96,9.69,-1.6,942.5,73.0,278.97,2.08,44.794662,34.649986
4,01.01.2012,-0.77,10.80,-1.6,942.6,72.1,274.92,1.87,44.794662,34.649986
...,...,...,...,...,...,...,...,...,...,...
67,03.01.2012,655.61,233.33,0.1,949.2,80.0,206.05,0.52,9.629462,290.839111
68,03.01.2012,553.24,183.67,-0.8,949.5,84.4,240.89,0.72,9.629462,290.839111
69,03.01.2012,354.38,150.86,-0.9,949.4,85.6,214.22,1.15,9.629462,290.839111
70,03.01.2012,297.02,136.31,-1.1,949.5,84.2,188.69,0.68,9.629462,290.839111
71,03.01.2012,277.17,110.27,-1.9,949.4,86.8,225.86,0.78,9.629462,290.839111

In [10]:
data_df = data_df.round({'NO': 2, "NO2": 2, "O3": 2, "PM10": 2, 'AirTemp': 1, "UMR": 1, 'Press': 0})
data_df

,Date,NO,NO2,AirTemp,Press,UMR,WD,WS,O3,PM10
0,01.01.2012,-1.39,13.92,-1.4,941.0,73.7,281.29,2.00,44.79,34.65
1,01.01.2012,-1.35,11.51,-1.4,941.0,72.9,282.62,1.69,44.79,34.65
2,01.01.2012,-1.24,11.46,-1.5,942.0,72.3,275.63,1.86,44.79,34.65
3,01.01.2012,-0.96,9.69,-1.6,942.0,73.0,278.97,2.08,44.79,34.65
4,01.01.2012,-0.77,10.80,-1.6,943.0,72.1,274.92,1.87,44.79,34.65
...,...,...,...,...,...,...,...,...,...,...
67,03.01.2012,655.61,233.33,0.1,949.0,80.0,206.05,0.52,9.63,290.84
68,03.01.2012,553.24,183.67,-0.8,950.0,84.4,240.89,0.72,9.63,290.84
69,03.01.2012,354.38,150.86,-0.9,949.0,85.6,214.22,1.15,9.63,290.84
70,03.01.2012,297.02,136.31,-1.1,950.0,84.2,188.69,0.68,9.63,290.84
71,03.01.2012,277.17,110.27,-1.9,949.0,86.8,225.86,0.78,9.63,290.84

In [12]:
columns = ["NO", "NO2", "AirTemp", "Press", "UMR", "WD", "WS", "O3", "PM10"]
data_df.to_csv("data_ex2.csv", columns=columns)